/* src/components/Footer.css */

.footer {
  background-color: #1a1a1a;
  color: #ccc;
  text-align: center;
  padding: 1.5rem 1rem;
  font-family: "Fira Code", monospace;
}

.footer .social-links {
  margin-bottom: 0.8rem;
}

.footer .social-links a {
  color: #ccc;
  margin: 0 1rem;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: rgb(88, 199, 117);
}

.footer p {
  font-size: 0.9rem;
  margin: 0;
}

.upwork-logo {
  width: 23px;
  height: 23px;
  vertical-align: middle; /* baseline alignment */
  position: relative;
  top: -6px; /* move it up by 3px */
  filter: grayscale(100%) brightness(85%); /* makes it grey and a bit darker */

}

.upwork-logo:hover {
  filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(10deg) saturate(500%);
}