:root {
  --section-padding-top: 6rem;
  --section-padding-bottom: 6rem;
  --section-gap: 2rem;
  --max-content-width: 1000px;
  --font-family: "Jet Brains Mono", monospace;
  --bg-color: #0e0e0e;
  --text-color: #fff;
  --text-muted: #ccc;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.section {
  padding: var(--section-padding-top) 2rem var(--section-padding-bottom) 2rem;
  max-width: var(--max-content-width);
  margin: 0 auto;
}
